.body{
    padding: 0;
    margin: 0;
    background: #f0f2f5;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
.box{
    display: flex;
    justify-content: conter;
    margin-left: 150px;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.title-box img{
    width: 235px;
    margin-bottom: -10px;
}

.title-box p{
    margin: 20px 20px 20px 20px;
    color: #000;
    font-size: 26px;
    line-height: 32px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-box{
    width: 350px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background:  #fff;
    margin-left: 60px;
    box-shadow: 0px 2px 10px 1px rgba(71, 71, 71, 0.52);
}

.form-box input{
    width: 100%;
    margin-bottom: 15px ;
    padding:  15px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #eeebeb;
    border-radius: 5px;
    outline: none;
}

.last{
    margin: -100px 2px 100px 720px;
}

.form-box button{
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 13px 0;
    cursor: pointer;
    background:  #166fe5;
}
.form-box button:hover{
    background: #1877f2;
}
.form-box a{
    color: #166fe5;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
}

.form-box a:hover {
    text-decoration: underline;
}

.form-box hr{
    border: 1px solid #dadde1;
    margin-bottom: 15px ;

}

.form-box .create-btn a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: #36a420;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
}
.form-box .create-btn a:hover{
    background-color:  #70b562 ;
}

@media (max-width: 780px){

    .title-box img{
        width: 230px;
        margin: 0px 0px 500px 130px;
    }
    .title-box p{
        margin: 18px 18px 18px 18px;
        color: #000;
        font-size: 0px;
        line-height: 22px; 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .form-box{
        width: 670px;
        height: 400px;
        padding: 15px;
        text-align: center;
        border-radius: 5px;
        background:  #fff;
        margin:80px 0px 70px -470px;
        box-shadow: 0px 2px 10px 1px rgba(71, 71, 71, 0.52);
    }

    .form-box input{
        width: 100%;
        background-color: #eeebeb;
        margin-bottom: 15px ;
        padding:  18px;
        font-size: 17px;
        box-sizing: border-box;
        border: 1px solid #eeebeb;
        border-radius: 5px;
        outline: none;
    }
    .form-box button{
        width: 100%;
        margin-bottom: 15px;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        padding: 16px 0;
        cursor: pointer;
        background:  #166fe5
    }

    .form-box a{
        color: #166fe5;
        font-size: 14px;
        text-decoration: none;
        margin-top: 5px;
        margin-bottom: 20px;
        display: block;
    }

    .form-box .create-btn a{
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        padding: 15px 20px;
        border-radius: 5px;
        background: #36a420;
        font-weight: 600;
        display: inline-block;
        margin-bottom: 5px;
    }

    .last{
        margin: 0px 0px 0px 0px;
    }
}


@media (max-width: 450px )
{

    
 #main{
    width: 180px;
    margin: 0px 0px 500px 110px;
 }   

 .box{
    display: flex;
    justify-content: conter;
    margin-left: 15px;
    align-items: center;
    width: 100%;
    height: 100vh;
}
    .form-box{
        width: 950px;
        height: 320px;
        padding: 15px;
        text-align: center;
        border-radius: 5px;
        background:  #fff;
        margin: 10px 35px 70px -280px;
        box-shadow: 0px 2px 10px 1px rgba(71, 71, 71, 0.52);
    }   
    .title-box img{
        width: 0px;
        margin-bottom: 10px;
    }       
    .title-box p{
        margin: 18px 18px 18px 18px;
        color: #000;
        font-size: 0px;
        line-height: 22px; 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .last{
        margin: 0px 0px 0px 0px;
    }

}
/*.head{
    color:blue;
    margin: 100px 200px 15px 50px;
    
}
.head1
{
    color:blue;
    margin: 20px 200px 15px 800px;

}
#head2
{
    background-color: #4267B2;
    margin: 20px 200px 15px 800px;
    padding: 20px;
}
#head3
{
    background-color: green;
    margin: 20px 290px 15px 870px;
    padding: 20px;
}*/